
<div class="container-writeHeader">
    <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="link-secondary" href="/books/bookshelf/new" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary" href="/books/bookshelf/new">Search & Pin New Book</a>
    </div>
    <!-- <div class="container-writeStory">
        <a class="btn btn-sm btn-outline-secondary" href="/books">Back To Bookshelf</a>
    </div> -->
</div>


<div class="container">
    <form action="/books/<%= child.id%>/new" method="post">
        <fieldset>
            <label for="author">Author</label>
            <input class="form-control" type="text" id="author" name="author" placeholder="Author (Your Name Here)">
        </fieldset>
        <fieldset>
            <label for="cover">Choose Color For The Cover</label>
            <input type="color" name="cover" id="cover">
        </fieldset>
        <fieldset>
            <label for="title">Title</label>
            <input class="form-control" type="text" id="title" name="title" placeholder="Title">
        </fieldset>
        <fieldset>
            <label for="story"></label>
            <textarea name="story" id="story" class="form-control textBoxStory" cols="50" rows="25"></textarea>
        </fieldset>
        <fieldset>
            <input type="submit" class="form-control btn-primary" value="Submit">
        </fieldset>
    </form>
</div>


