body{
    margin: 0;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    max-width: 100vw;
}
main{
    min-height: 100%;
    min-width: 100%;
}
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1rem;
    border: 0;
    border-radius: 0;
}
.footer-padding {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
	padding-bottom: 60px;
}
.footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	width: 100%;
}
main > .container {
    position: relative;
    padding: 60px 15px 60px 15px;
    max-width: 960px;
    overflow: auto;
    flex-basis: auto;
    flex: 1;
}
/* .session-in{
    min-height: 55%;
    margin-top: 1rem;
} */
.formDiv{
    padding: 2rem;
}
.hidden{
    display:none;
}
span{
    font-weight: bold;
}
fieldset{
    margin-bottom: .5rem;
}
.pageHeading{
    padding-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
#urgentNote{
    color: red;
}
.holyGrail-content{
    flex:1;
}
.holyGrail-nav .holyGrail-aside{
    flex: 0 0 12em;
}
.holyGrail-nav{
    display: inline-block;
    order:-1;
}
.sticky{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 25%;
    width: 25%;
    text-align: center;
    overflow: hidden;
}
.calendar-container{
    max-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
}
#calendar-head{
    margin-top: 3rem;
    max-height: 100%;
    min-width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}
.title{
    font-weight: bolder;
}
.calBtn{
    border: 1px solid black;
}
.tinyAvatar{
    max-height: 35%;
    max-width: 35%;
}
.profilePicImg{
    max-height: 500px;
    max-width: 500px;
    border-radius: 50%;
}
.profilePicUser{
    max-height: 10rem;
    max-width: 10rem;
    border-radius: 50%;
}
.entryBtn{
    background-color: lightblue;
}
.displayFont{
    color: rgb(9, 59, 92)
}
table{
    min-width: 100%;
}

@media(max-width:450px) {
    .input-group{
        display: flex;
        flex-wrap: wrap;
        word-wrap: normal;
        flex-direction: column;
        width: 100%;
    }
    .input-group > input{
       max-width: 50%;
    }
        
}