<div class = "container-fluid">
    <h1>Story Catchers</h1>
    <h4>Helping catch all the Memories Big And Small</h4>
    <p>Story Catcher is here to help you collect all the daily memories and milestones that hope we will never forget. Raising a child is such a blur, we don't want to leave it up to chance. As Parents, Caregivers, and Care Takers our plates are full with life, which doesnt leave much to worry about keeping up with a baby book. And when we do think to write something down, it can be hard to have a singular place to keep everything, or keep track of notes on our phones.Let us help take a little load off for you.</p>
    <p><span>Quick Add </span> option allows for you to login, and right away add notes, pictures, audio, and more to your childs calendar, automatically saving to today's date. Saving you those precious extra seconds and minutes to do literally anything else.</p>
    <p><span>The Bookshelf</span> is your space to hold those incredibly special bedtime stories, lullabies, or silliness that you've created and told by heart. The Bookshelf is also a space to pin Books that your child loves, to bring back a visual memory of a wonderful story from their childhood.</p>
    <p><span>Annual Year of Life Highlight Emails</span> Grant an easy way to share with your loved ones all the highlights and memories from the past year for your child. Additionally We offer the same to send to an email dedicated for your child so they are able to have their digital memory book to look back on when they are older, in a place they will never loose.</p>
    <h5> We can't wait to help you catch the memories, stories, and moments. See you there.</h5>
    <a href="/session/register"><button class="btn btn-primary">Register</button></a>
    <a href="/session/login"><button class="btn btn-primary">Login</button> </a>
</div>
